// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// https://quasar.dev/style/sass-scss-variables

$primary: #008cff !default;
$secondary: #26a69a !default;
$accent: #ff7300 !default;

$dark: #243238 !default;

$positive: #00ff73 !default;
$negative: #ff000d !default;
$info: #008cff !default;
$warning: #fff200 !default;

$body-font-size: 16px !default;
$input-font-size: 16px !default;
$tooltip-fontsize: 14px !default;
$tooltip-background: #000000 !default;
$tooltip-padding: 4px 12px !default;
$tooltip-mobile-padding: 4px 12px !default;
$shadow-color: #425A65 !default
